:root {
  --font-size: 1.1rem;
  --line-height: 1.6em;
  --font-family: monospace;
  --background-color: #212121;
  --link-color: #eee;
  --text-color: #aaa;
  --text-shadow-color: #000;
  --header-sub-color: #5d5d5d;

  --color-accent: #e31b6e;
  --color-2: #5c11fa;
  --color-3: #009df0;
}

/* Use default font size for narrow screens */
@media (max-width: 600px) {
  :root {
    --font-size: 1rem;
  }
}

/* Use default font size for wide screens */
@media (min-width: 1200px) {
  :root {
    --font-size: 1.2rem;
  }
}
